<div class="card border-primary mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body">
    <h5 class="card-title">Clients List</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounder btn-primary" type="button" [routerLink]="['/clients/form']">Create Client</button>
    </div>

    <div *ngIf="clients?.length == 0"  class="alert-info">
      Not found registers on database!
    </div>

    <table class="table table-bordered table-striped" *ngIf="clients?.length > 0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Created at</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients" >

        <td>
          <button class="btn btn-info" [routerLink]="['/clients/detail/', client.id]"> {{ client.id  }} </button>
        </td>
        <td> {{ client.name  }}</td>
        <td> {{ client.lastname | uppercase }}</td>
        <td> {{ client.email  }}</td>
        <td> {{ client.createdAt | date:"EEEE dd, MMMM, yyyy" }}</td>
        <td><button type="button" name="edit" [routerLink]="['/clients/form', client.id]" class="btn btn-primary">
          Edit
        </button></td>
        <td><button type="button" name="delete" (click)="delete( client )" class="btn btn-danger">
          Delete
        </button></td>
      </tr>
      </tbody>

    </table>
    <app-paginator  *ngIf="paginator" [paginator]="paginator"></app-paginator>
  </div>
</div>
